@{
  Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome, lets see what your favorite Restaraunt is?</h1>
</div>
<h2>@Html.ActionLink("Go To List of Cuisines", "Index", "Cuisine")</h2>

<p>@Html.ActionLink("Create Restaraunt", "Create", "Restaurant")</p>
<p>@Html.ActionLink("Add new cuisine", "Create", "Cuisine")</p>