@{
  Layout = "_Layout";
}
@model Restaurant.Models.Cuisine

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Name, new {@placeholder="enter cuisine name"})
    <input class="btn btn-danger" type="submit" value="Add new cuisine" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>
